<h1>Change Password</h1>
<fieldset>
    <div>
        <label for=crntpwd>Current Password:</label>
        <input required type="password" id=crntpwd [(ngModel)]="crntPwd">
        <br/>
        <label for=nwpwd>New Password:</label>
        <input required type="password" id=nwpwd [(ngModel)]="nwPwd">
        <br/>
        <label for=nw2pwd>Verify New Password:</label>
        <input required type="password" id=nw2pwd [(ngModel)]="nw2Pwd">
        <br/><br>
        <button type=button (click)="updIt()">Update Password</button>
        <br>
        <a *ngIf="jobDone" routerLink="/AccountLogin">Password updated succesfully! Click here to sign in</a>
    </div>
</fieldset>